 <!--start counder-->
 <div class="counter" id="counter">
    <div class="container">
        <div class="d-flex counter-content">
            <div class="counter-item d-flex">
                <i class="fa-solid fa-user counter-icon"></i>
                <h1 class="counter-text" data-target="5676686">0</h1>
                <hr class="divider">
                <h4>Investor</h4>
            </div>
            <div class="counter-item d-flex">
                <i class="fa-solid fa-dollar-sign counter-icon"></i>
                <h1 class="counter-text" data-target="38348734">0</h1>
                <hr class="divider">
                <h4>Total amount invested in dollars</h4>
            </div>
            <div class="counter-item d-flex">
                <i class="fa-solid fa-trophy counter-icon"></i>
                <h1 class="counter-text" data-target="8923477834">0</h1>
                <hr class="divider">
                <h4>Total payout in dollars</h4>
            </div>
        </div>
    </div>
</div>
<!--end counder-->