 <!--start counder-->
 <div class="counter" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="counter-item d-flex">
                    <i class="fa-solid fa-user counter-icon"></i>
                    <h1 class="counter-text" data-target="5676686">0</h1>
                    <hr class="divider">
                    <h4>Investors</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter-item d-flex">
                    <i class="fa-solid fa-dollar-sign counter-icon"></i>
                    <h1 class="counter-text" data-target="45780950">0</h1>
                    <hr class="divider">
                    <h4 style="text-align: center;">Total amount invested in dollars</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter-item d-flex">
                    <i class="fa-solid fa-trophy counter-icon"></i>
                    <h1 class="counter-text" data-target="390525785">0</h1>
                    <hr class="divider">
                    <h4>Total payout in dollars</h4>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>
<!--end counder-->