 <!--start service area-->
 <div class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="section-head">
                <h1 class="heading">We Provide Awesome Service</h1>
                <p class="text">BTC Doubler is a fully automated Bitcoin investment platform operating with no human intervention. 
                    Take full advantage of our fast and legit Bitcoin doubler platform.</p>
            </div>
            <div class="card-area d-flex">
                <div class="card d-flex">
                    <div class="s-circle"></div>
                    <div class="b-circle d-flex">
                        <i class="fa-solid fa-rocket icon"></i>
                    </div>
                    <h1 class="card-text">Fully automated <br>
                        payout</h1>
                </div>
                <div class="card d-flex">
                    <div class="s-circle"></div>
                    <div class="b-circle d-flex">
                        <i class="fa-solid fa-user-shield icon"></i>
                    </div>
                    <h1 class="card-text">100% secure <br>
                        system</h1>
                </div>
                <div class="card d-flex">
                    <div class="s-circle"></div>
                    <div class="b-circle d-flex">
                        <i class="fa-solid fa-trophy icon"></i>
                    </div>
                    <h1 class="card-text">Double your bitcoins in <br>
                        24 hours</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end service area-->